* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 50%;
}

body {
  font-family: "Arvo", serif;
  letter-spacing: 2px;
  background: #e0e0e0;
}
