.card_container {
  width: 300px;
  min-height: 280px;
  background: white;
  overflow: hidden;
  border-radius: 1.3rem;
  margin: 4rem 4rem 11rem 4rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 1px 5px gray;
  /* box-shadow: 1px 1px 15px gray; */
  /* box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
    -12px -12px 24px 0 rgba(255, 255, 255, 0.5); */
}

.card_container:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: rgb(247, 247, 247);
}

.card {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  user-select: none;
}

.card img {
  width: 100%;
  object-fit: cover;
  /* pointer-events: none; */
  transition: all 0.5s ease-in-out;
}

.image_wrapper {
  width: 100%;
  object-fit: cover;
  /* pointer-events: none; */
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.main_image:hover {
  transform: scale(1.15) rotate(-7deg);
  filter: brightness(77%);
  -webkit-user-drag: none;
}

.certificate_title {
  font-size: 2rem;
  text-align: center;
  padding: 2.3rem 0rem;
  user-select: all;
  cursor: text;
}

.buttons {
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding-bottom: 10px;
}

/* .buttons .like {
  all: none;
  text-decoration: none;
  font-size: 2.3rem;
  border: 2px #048cbd solid;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  background: transparent;
}

.buttons .like:hover {
  color: white;
  background: #048cbd;
} */

.buttons .like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  /* border: 1px red solid; */
  padding: 0.2rem 0.3rem;
  overflow: hidden;
}

.buttons .like .love {
  all: none;
  width: 40px;
  user-select: none;
  transition: all 0.3s ease-in-out;
  pointer-events: all;
  opacity: 0.9;
}

.buttons .like .love:hover {
  opacity: 1;
}

.buttons .like .love:active {
  transform: scale(1.3);
}

.buttons .like .count {
  font-size: 2.3rem;
  user-select: none;
  cursor: text;
}

.buttons .view {
  all: none;
  text-decoration: none;
  font-size: 2.5rem;
  border: 2px #048cbd solid;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  background: transparent;
  margin-left: 15px;
}

.buttons .view:hover {
  color: white;
  background: #048cbd;
}

@media screen and (max-width: 600px) {
  .buttons {
    margin: 0rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-bottom: 5px;
  }

  .certificate_title {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0.5rem;
  }

  .card_container {
    box-shadow: 1px 1px 5px gray;
  }

  .card_container:hover {
    transform: scale(1);
    cursor: pointer;
  }
}
